asn1crypto==0.22.0
awscli==1.11.115
beets==1.4.5
botocore==1.5.78
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.7
colorama==0.3.7
cryptography==1.9
discogs-client==2.2.1
docutils==0.13.1
enum34==1.1.6
Flask==0.12.2
Flask-Cors==3.0.3
Flask-SSLify==0.1.5
futures==3.1.1
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
jellyfish==0.5.6
Jinja2==2.11.3
jmespath==0.9.3
MarkupSafe==1.0
munkres==1.0.12
musicbrainzngs==0.6
mutagen==1.38
oauthlib==2.0.2
pyasn1==0.2.3
pycparser==2.18
pyOpenSSL==17.1.0
python-dateutil==2.6.0
PyYAML==3.12
requests==2.18.1
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
Unidecode==0.4.21
urllib3==1.21.1
virtualenv==15.1.0
Werkzeug==0.12.2
