<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>app2017</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#d46060">

    <link rel="preload" href="/static/font/Tofino-Book.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/font/Tofino-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/font/Tofino-Bold.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" rel="preload" href="/static/css/font-tofino.css">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="app2017">
    <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon-152x152.png">

    <link rel="stylesheet" href="/static/css/material-font.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="/static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>

    <!-- ncwb2017_2.surge.sh -->
  </head>
  <body>
    <div id="app">This is your fallback content in case JavaScript fails to load.</div>
    <!-- Todo: only include in production -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
        
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
